# don't sync node modules that this project pulls in

.DS_Store
design.txt
readme
notes
test
*.o

# don't sync Ethercard
Ethercard/

# don't sync Visual Studio files
.ntvs_analysis.dat
bin/
obj/
*.njsproj
*.suo
*.sln

